.carousel-item {
  display: flex;
  flex-direction: column;
  height: 160px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  padding-left: 0px;
}

.full-height{
  height: 100%;
}

.text-uppercase {
  text-transform: uppercase;
}

.title-space{
  flex-grow: 2;
}

@media only screen and (max-width: 769px) {
    .product-container {
      width: 50%;
    }

    .carousel-item {
      height: 100% !important;
    }
}