@page { 
	size: letter portrait;
	
    margin: 0px;
    padding: 0px;
}

body {
    margin: 0px;
    padding: 10px;
    font-family: sans-serif;
    position: relative;
}

#logo {
    width: 100px;
}
.section table{
    width: 99%;
    border-collapse: collapse;
    margin: auto;
}

.bold{
    font-weight: bold !important;
}
.normal{
    font-weight: normal !important;
}
.section table .row0{
    visibility: hidden;
    display: none;
}
.section table .row0 td{
    height: 1px;
}
.section table .th1{
    width: 23%;
}
.section table .th2{
    width: 18%;
}
.section table .th3{
    width: 11%;
}
.section table .th4{
    width: 7%;
}
.section table .th5{
    width: 6%;
}
.section table .th6{
    width: 9%;
}
.section table .th7{
    width: 7%;
}
.section table .col8{
    
}
.section.header {
    padding-top: 0px;
    padding-bottom: 0px;
}
.section.header .row1 .col1{
    padding: 0px;
}
.section .box{
    border: 1px solid black;
    display: inline-block;
}
/* .section .line{
    border-bottom: 1px solid black;
    display: inline-block;
    width: 100%;
    height: 20px;
} */
td span.text.header{
    display: inline-block;
    font-size: 9pt !important;
    vertical-align: middle;
    font-weight: bold;
    /* padding-top: 0px;
    padding-bottom: 0px; */
}

.section1 table td span{
    font-size: 10pt;
}
.section1 table .row1 .col2{
    text-align: right;
    font-weight: bold;
}
.section1 table .row1 .col3 span.text{
    border: 1px solid black;
    padding: 5px;
}
.section1 table .row2 {
    font-weight: bold;
}
.section1 .row3 .col3{
    text-align: right;
    font-style: italic;
}
.section1 .row3 .col6{
    font-style: italic;
}
.section1 table .row3 td span,
.section1 table .row4 span,
.section1 table .row5 span,
.section1 table .row6 span,
.section3 table .row1 .col1,
.section3 table .row5 span{
    font-size: 9pt;
    vertical-align: middle;
    font-weight: bold;
}
.section1 .row4 .col2{
    text-align: right;
}
.section1 .row4 .col2 span{
    display: inline-block;
}
.section1 .row4 .col3 span{
    border-bottom: 1px solid black;
    width: 100%;
    display: inline-block;
}

.section1 table .row6 span{
    padding-top: 10px;
}

.section1 .row4 span {
    padding-top: 10px;
}

.section1 .row4 .datetable {
    width: 90%;
    margin: initial;
    text-align: center;
}
.section1 .row4 .datetable td{
    border: 1px dotted black;
}

.section1 table .row3 .col5 .box,
.section1 table .row3 .col6 .box,
.section2 table .row3 .box,
.section4 table .box,
.section4-t table .box,
.section-politica .box   {
    width: 10px;
    height: 11px;
    padding-left: 2px;
    padding-top: 1px;
    padding-bottom: 1px;
}
.section2 table td {
    border: 1px dotted black;
}
.section2 td {
    font-size: 8pt;
    vertical-align: baseline;
    height: 30px;
}
.section2 td .value {
    padding-top: 4px;
}
.section2 .row3 .col2 div{
    margin-top: 5px;
}

.section3 tr td span{
    height: 16px;
    font-size: 9pt;
    display: inline-block;
}

.section3 .row5 .col1 {
    
}


.section4 table td {
    border: 1px dotted black;
}
.section4 td {
    font-size: 8pt;
    vertical-align: baseline;
    height: 30px;
}


.section5 table td {
    border: 1px dotted black;
}
.section5 td {
    font-size: 8pt;
    vertical-align: baseline;
    height: 30px;
}


.section.header.header6 {
    
}
.section.section6 td span.text{
    padding-left: 10px;
}
.section6 table td {
    
}
.section6 td {
    font-size: 8pt;
    height: 17px;
}
.section6 table .row1 td.col1,
.section6 table .row1 td.col2,
.section6 table .row1 td.col4,
.section6 table .row1 td.col5 {
    border-top: 1px solid black;
}
.section6 table td.col1,
.section6 table td.col4{
    border-left: 1px solid black;
}
.section6 table td.col2,
.section6 table td.col5{
    border-right: 1px solid black;
}
.section6 table .row7 td.col1,
.section6 table .row7 td.col2,
.section6 table .row7 td.col4,
.section6 table .row7 td.col5 {
    border-bottom: 1px solid black;
}

.section6 table td.col1,
.section6 table td.col2,
.section6 table td.col4,
.section6 table td.col5{
    border-bottom: 1px dotted black;
}
.section6 table td.col2,
.section6 table td.col5{
    border-left: 1px dotted black;
    min-width: 160px;
}

.section7 {
    border: 1px solid black;
}
.section7 span{
    font-size: 8pt;
}
.section7 .row3 .col2{
    border-bottom: 1px solid black;
}
.section7 .row3 .col2 span{
    height: 20px;
    display: inline-block;
}
.section7 .row4 .col2{
    text-align: center;
}


.section8 {
    border: 1px solid black;
}
.section8 table tr td{
    border-bottom: 1px dotted black;
    height: 20px;
}

.section-politica{
    border: 1px solid black;
    margin-top: 5px;
}
.section-politica .row1 .th1{
    font-size: 12px;
}
.section-politica .col1, .section-politica .row1 .col1{
    font-size: 8pt;
}
.section-politica .col2{
    font-size: 8pt;
}
.section-politica .col3 span{
    font-size: 8pt;
}
.section-politica .col1 {
    width: 170px;
    min-width: 170px;
}
.section-politica .col2 {
    width: 90px;
    min-width: 90px;
}
.section-politica .col3 {
    width: 500px;
    min-width: 500px;
}
.section-politica .inner1 {
    font-size: 8pt;
    font-weight: bold;
}
.section-politica .inner1 td{
    border: 1px solid black;
    height: 30px;
    text-align: center;
}


.section.header.pedido{
    margin-top: 20px;
    text-align: center;
    font-size: 12pt;
    font-weight: bold;
}
.section.header.pedido .col1{
    width: 60px;
}
.section4-t{
    line-height: 0.6rem;
}
.section4-t tbody tr td{
    height: 18px;
}
.section9 tbody tr td{
    height: 20px;
}
.section4-t span.text, .section9 span.text {
    font-size: 8pt;
}
.section4-t .row5 .box, .section9 .row5 .box{
    width: 10px;
    height: 10px;
}
.section4-t .row16, .section9 .row16 {
    text-align: center;
}
.section4-t .row16 .col1 span,
.section4-t .row16 .col3 span,
.section9 .row16 .col1 span,
.section9 .row16 .col3 span {
    border-top: 1px solid black;
    padding: 5px;
}
.section9 .row1,
.section9 .row2,
.section9 .row3,
.section9 .row4,
.section9 .row5,
.section9 .row6,
.section9 .row7,
.section9 .row8,
.section9 .row9,
.section9 .row10,
.section9 .row11,
.section9 .row12,
.section9 .row13{
    line-height: 0.6rem;
}


.section10{
    margin-top: 20px;
    border: 1px solid black;
    padding-top: 5px;
    padding-bottom: 5px;
}
.section10 tr td {
    padding-top: 0px;
    padding-bottom: 0px;
}
.section10 span.text {
    font-size: 8pt;
}
.section10 .dashed-line{
    border-bottom: 1px dashed black;
    display: inline-block;
}
.section10 .dashed-line.clientname{
    width: 180px;
}
.section10 .dashed-line.clientid{
    width: 180px;
}
.section10 .dashed-line.clientde{
    width: 200px;
}
.section10 .dashed-line.legalsociety{
    width: 400px;
}
.section10 .dashed-line.full{
    width: 100%;
}
.section10 .row1,
.section10 .row2,
.section10 .row3,
.section10 .row4,
.section10 .row5,
.section10 .row6,
.section10 .row7,
.section10 .row8,
.section10 .row9,
.section10 .row10,
.section10 .row11,
.section10 .row12,
.section10 .row13,
.section10 .row15{
    line-height: 0.6rem;
}
.section10 .text.header2,
.section10 .text.header3{
    margin-top: 5px;
    border-top: 1px solid black;
    display: block;
}




.section11{
    margin-top: 10px;
    border: 1px solid black;
}
.section11 tr td {
    padding-top: 0px;
    padding-bottom: 12px;
}
.section11 span.text {
    font-size: 8pt;
}


.section12{
    margin-top: 10px;
}
.section12 span.text {
    font-size: 8pt;
}

.section13{
    margin-top: 10px;
}
.section13 .row1 span.text{
    border-top: 1px solid black;
    display: block;
    text-align: center;
}
.section13 span.text {
    font-size: 8pt;
}

.box.huella{
    width: 80px;
    height: 80px;
    vertical-align: middle;
    display: inherit;
    text-align: center;
    color: gray;
    font-size: 10pt;
    text-transform: uppercase;
}

.left-code{
    float: left;
    font-size: 7pt;
}
.right-code{
    float: right;
    font-size: 7pt;
}